## Questions
1.	Write a Python program to find sum of elements in list?
2.	Write a Python program to  Multiply all numbers in the list?
3.	Write a Python program to find smallest number in a list?
4.	Write a Python program to find largest number in a list?
5.	Write a Python program to find second largest number in a list?
6.	Write a Python program to find N largest elements from a list?
7.	Write a Python program to print even numbers in a list?
8.	Write a Python program to print odd numbers in a List?
9.	Write a Python program to Remove empty List from List?
10.	Write a Python program to Cloning or Copying a list?
11.	Write a Python program to Count occurrences of an element in a list?

In [1]:
list1 = [1,2,4,5,6]
print(sum(list1))

18

In [3]:
list2 = [1,2,3,4]
ans = 1
for i in list2:
    ans = ans*i   
print(ans)

24

In [6]:
list3 = [3,2,1,5,7]
list3.sort()
print(list3[0])

1

In [7]:
list4 = [3,2,1,5,7]
list4.sort()
print(list3[len(list4) - 1])

7

In [10]:
list5 = [3,2,1,5,7]
list5.sort()
n = 2
print(list5[len(list5) - n])

5

In [11]:
list6 = [1,2,3,4,5,6]
for i in list6:
    if i%2 == 0:
        print(i,"Even")
    else:
        print(i,"Odd")

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even

In [12]:
# Python3 code to Demonstrate Remove empty List
# from List using list comprehension

# Initializing list
test_list = [5, 6, [], 3, [], [], 9]

# printing original list
print("The original list is : " + str(test_list))

# Remove empty List from List
# using list comprehension
res = [ele for ele in test_list if ele != []]

# printing result
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [13]:
# Python code to clone or copy a list
# Using the List copy using =
def Cloning(li1):
	li_copy = li1
	return li_copy

# Driver Code
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [14]:
# Python code to count the number of occurrences
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count


# Driver Code
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,
										countX(lst, x)))

8 has occurred 5 times